body {
    font-family: "Times New Roman", serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 800px;
    margin: 40px auto;
    background: white;
    padding: 40px;
}

header {
    text-align: center;
    border-bottom: 2px solid #999;
    margin-bottom: 30px;
}

h1 {
    margin-bottom: 5px;
}

h2 {
    border-bottom: 1px solid #999;
    padding-bottom: 5px;
    margin-top: 30px;
}

ul {
    list-style-type: square;
}

a {
    color: #800020;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
